* {
  margin: 0;
}

body {
  background: #f5fbef;
  color: #0c1618;
}
.login {
  background-color: #f5fbef;
  min-height: 100vh;
  display: 60%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0c1618;
}
